/* Mobile-first стили */
body {
    font-family: Arial, sans-serif;
    background-color: #e0dffa; /* Фиалковый фон */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

header {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    color: #9370db; /* Фиалковый цвет для заголовка */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu li {
    margin: 1.5rem 0; /* Вертикальные отступы */
    width: 100%;
}

.main-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.main-menu a.available {
    background: linear-gradient(145deg, #7b68ee, #9370db); /* Градиент для доступных проектов */
}

.main-menu a.unavailable {
    background-color: #d3d3d3; /* Светло-серый цвет для недоступных проектов */
    pointer-events: none; /* Отключает кликабельность */
    opacity: 0.7; /* Уменьшает непрозрачность */
}

.main-menu a:hover.available {
    background-color: #8a2be2; /* Еще темнее фиалковый цвет при наведении */
    transform: scale(1.05);
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.placeholder {
    margin: 2rem 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-placeholder {
    width: 300px;
    height: 500px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #888;
}

/* Медиазапросы для более крупных экранов */
@media (min-width: 600px) {
    .main-menu {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main-menu li {
        margin: 1rem;
    }
}
